@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

body:has(.card[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

.max-container {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 126px !important;
  padding-bottom: 0.75rem;
  padding-left: 4rem;
  padding-right: 4rem;
  min-height: calc(100vh - 80px);
}

.head-text {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.4;
}

.subhead-text {
  font-weight: 600;
  font-size: 1.875rem;
  position: relative;
}

.blue-gradient_text {
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  color: transparent;
}

.input {
  background-color: #ffffff;
  border-color: #cbd5e0;
  color: #4a5568;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  outline: none;
  width: 100%;
  padding: 0.625rem;
  margin-top: 0.625rem;
  font-weight: 400;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.textarea {
  display: block;
  padding: 0.625rem;
  width: 100%;
  font-size: 0.875rem;
  color: #4a5568;
  background-color: #ffffff;
  border-radius: 0.375rem;
  border-color: #cbd5e0;
  outline: none;
  margin-top: 0.625rem;
  font-weight: 400;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.btn {
  color: #ffffff;
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  outline: none;
  border: none;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  width: 100%;
  padding: 0.625rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 12;
  right: 0;
  left: 0;
  border-radius: 10px;
  margin-top: 20px;

  @media screen and (max-width: 600px) {
    padding: 1rem 3rem;
  }

  @media screen and (max-width: 400px) {
    padding: 1rem 2rem;
  }

  @media screen and (max-width: 1060px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.footer {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem;
  align-items: center;
  justify-content: space-between;
}

.info-box {
  margin-left: 1.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  max-width: 40rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.neo-btn {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.375rem;
  color: #00c6ff;
  text-align: center;
  font-weight: 600;
  width: 90%;
  bottom: -1.25rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}

.cta {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.cta-text {
  color: #000000;
  font-weight: 800;
  flex: 1;
  font-size: 1.875rem;
  text-align: center;
}


.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover>.btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover>.btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
    0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
  box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
}

.project-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.project-2 {
  grid-area: 1 / 2 / 2 / 4;
}

.project-3 {
  grid-area: 2 / 1 / 3 / 3;
}

.project-4 {
  grid-area: 2 / 3 / 3 / 4;
}